body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 80%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#alert {
  font-color: red;
}

.postName p {
  font-size: 16px;
}

.date {
  font-size: 14px;
  float: right;
}

@import 'content'
